---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import tableau from '../../public/assets/tableau.pdf'
---
 
 <BaseLayout title="Compétences | Rudy Gault" description="Tableau de Synthèse">
     <div class="stack gap-20">
         <main class="wrapper about">
             <Hero
                 title="Compétences"
                 tagline="Ci dessous, vous avez accès au tableau de sythèse de compétence (E4)"
             >
             <div class="download-button-container">
              <a href={tableau} download class="download-button">
                  Téléchargez le tableau ici
              </a>
          </div>
             </Hero>
 
             <section>
                <table border="1" class="dataframe synthesis-table">
                    <thead>
                      <tr style="text-align: right;">
                        <th>BTS SERVICES INFORMATIQUES AUX ORGANISATIONS</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>SESSION 2023</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Tableau de synthèse des réalisations professionnelles</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>NOM et prénom :</td>
                        <td> GAULT RUDY</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>N° candidat : 02341328792</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Centre de formation : ENSITECH</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Option :</td>
                        <td>▢ SISR</td>
                        <td>✓ SLAM</td>
                      </tr>
                      <tr>
                        <td>Adresse URL du portfolio :</td>
                        <td>http://gault-rudy-student.eu/</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Compétences mises en œuvre<br><br>  Réalisations professionnelles (intitulé et liste des documents et productions associés)</td>
                        <td>Période (sous la forme du 01/09/23 au 27/08/23)</td>
                        <td>Gérer le patrimoine informatique</td>
                        <td>Répondre aux incidents et aux demandes d’assistance et d’évolution</td>
                        <td>Développer la présence en ligne de l’organisation</td>
                        <td>Travailler en mode projet</td>
                        <td>Mettre à disposition des utilisateurs un service informatique</td>
                        <td>Organiser son développement professionnel</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>▸Recenser et identifier les ressources numériques<br><br>  
                        ▸Exploiter des référentiels, normes et standards adoptés par le prestataire informatique<br><br>
                        ▸Mettre en place et vérifier les niveaux d’habilitation associés à un service <br><br>
                        ▸Vérifier les conditions de la continuité d’un service informatique<br><br>
                        ▸Gérer des sauvegardes<br><br>
                        ▸Vérifier le respect des règles d’utilisation des ressources numériques<br><br></td>
                        <td>▸Collecter, suivre et orienter des demandes<br><br>  
                        ▸Traiter des demandes concernant les services réseau et système, applicatifs<br><br>
                        ▸Traiter des demandes concernant les applications<br><br>
                      </td>
                        <td>▸Participer à la valorisation de l’image de l’organisation sur les médias numériques en tenant compte du cadre juridique et des enjeux économiques<br><br>
                        ▸Référencer les services en ligne de l’organisation et mesurer leur visibilité.<br><br>
                        ▸Participer à l’évolution d’un site Web exploitant les données de l’organisation.<br><br>
                      </td>
                        <td>▸Analyser les objectifs et les modalités d’organisation d’un projet <br><br>
                        ▸Planifier les activités <br><br>
                        ▸Évaluer les indicateurs de suivi d’un projet et analyser les écarts<br><br>
                      </td>
                        <td>▸Réaliser les tests d’intégration et d’acceptation d’un service <br><br>
                        ▸Déployer un service<br><br>
                        ▸Accompagner les utilisateurs dans la mise en place d’un service<br><br>
                      </td>
                        <td>▸Mettre en place son environnement d’apprentissage personnel<br><br>
                        ▸Mettre en œuvre des outils et stratégies de veille informationnelle ▸Gérer son identité professionnelle<br><br>
                       ▸Développer son projet professionnel
                      </td>
                      </tr>
                      <tr>
                        <td><strong>Réalisation en cours de formation  </strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Jeux d'algorithmie Python </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>✔</td>
                      </tr>
                      <tr>
                        <td>Projet GSB</td>
                        <td></td>
                        <td>✔</td>
                        <td></td>
                        <td></td>
                        <td>✔</td>
                        <td>✔</td>
                        <td>✔</td>
                      </tr>
                      
                      <tr>
                        <td><strong> en milieu professionnel en cours de première année</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Crawler</td>
                        <td></td>
                        <td>✔</td>
                        <td>✔</td>
                        <td>✔</td>
                        <td>✔</td>
                        <td>✔</td>
                        <td>✔</td>
                      </tr>
                      <tr>
                        <td>apprentissage expressions regulieres</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>✔</td>
                      </tr>
                      <tr>
                        <td>apprentissage JS /TS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>✔</td>
                      </tr>
                      <tr>
                        <td>Manipulation du DOM</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>✔</td>
                      </tr>
                      <tr>
                        <td>Ecrire un plugin en PHP</td>
                        <td></td>
                        <td>✔</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>✔</td>
                        <td>✔</td>
                      </tr>
                      <tr>
                        <td>Réalisations en milieu professionnel en cours de seconde année</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Projet Track day moto</td>
                        <td></td>
                        <td>✔</td>
                        <td>✔</td>
                        <td></td>
                        <td>✔</td>
                        <td></td>
                        <td>✔</td>
                      </tr>
                      <tr>
                        <td>Modélisation base de donnée autour d'un projet complexe.</td>
                        <td></td>
                        <td>✔</td>
                        <td></td>
                        <td></td>
                        <td>✔</td>
                        <td>✔</td>
                        <td>✔</td>
                      </tr>
                    </tbody>
                  </table>
             </section>
             
         </main>
 
         <ContactCTA />
     </div>
 </BaseLayout>

 <style>
    .synthesis-table {
        border-collapse: collapse;
        width: 100%;
        background-color: #ffffff; /* Force le fond à être blanc */
        color: #000000;            /* Force la couleur du texte à être noire */
    }

    .synthesis-table th, .synthesis-table td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    .synthesis-table th {
        background-color: #c6c6c6;
    }

    /* Style par défaut pour le thème clair */
    .icon.dark {
        display: none;
    }

    /* Lorsque le bouton indique que le thème sombre est activé */
    button[aria-pressed="true"] .icon.light {
        display: none;
    }

    button[aria-pressed="true"] .icon.dark {
        display: block;
    }

    @media (prefers-color-scheme: dark) {
        /* Autres éléments du site adaptés pour le mode sombre, mais rien pour .synthesis-table ici */
    }
    .synthesis-table {
    border-collapse: separate; /* Change cela pour gérer correctement le border-radius */
    border-spacing: 0; /* Assurez-vous qu'il n'y ait pas d'espacement entre les cellules */
    overflow: hidden; /* Cache le débordement pour respecter le border-radius */
    border-radius: 10px; /* Votre border-radius souhaité */
}

/* Pour la première ligne d'en-tête */
.synthesis-table th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
}

.synthesis-table th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
}

/* Pour la dernière ligne de données - cela dépend si vous avez une balise <tfoot> ou non */
/* Si vous n'avez pas de <tfoot> */
.synthesis-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.synthesis-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

</style>
