---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import veille from '../../public/assets/Veille2023.pdf'
---

<BaseLayout
    title="Mon Travail | Gault Rudy"
    description="Learn about Gault Rudy's most recent projects"
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="Ma veille informatique"
                tagline="Vous pouvez ici découvrir ma veille informatique sur le theme DevSecOps."
                align="start"
            />
            <section class="content-section">
				<div class="pdf-display">
					<iframe src={veille} frameborder="10" allowfullscreen></iframe>
				</div>
			</section>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>

<style>
.content-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.markdown-content {
    text-align: left;
    font-size: 0.875rem;  
    max-width: 800px;  
}

.section-title {
    font-size: var(--text-xl);
    color: var(--gray-0);
    text-align: center;  
}

.download-button {
    margin-bottom: 1rem;
    text-align: center;
}
.pdf-display {
    width: 100%;  
    height: 100vh;
    overflow: hidden; 
}


.pdf-display iframe {
    border: none;
    width: 90%;   
    height: 100%; 
    display: block;
    margin: 0 auto; 
}


</style>
